[submodule "Tutorai1/Monte_Carlo_Simulation_for_Estimating_pi"]
	path = Tutorai1/Monte_Carlo_Simulation_for_Estimating_pi
	url = https://github.com/drvinceknight/Monte_Carlo_Simulation_for_Estimating_pi.git
[submodule "Tutorial1/Monte_Carlo_Simulation_for_Estimating_pi"]
	path = Tutorial1/Monte_Carlo_Simulation_for_Estimating_pi
	url = https://github.com/drvinceknight/Monte_Carlo_Simulation_for_Estimating_pi.git
